<p id="notice"><%= notice %></p>

<h1>Zips</h1>

<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>City</th>
      <th>Population</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @zips.each do |zip| %>
      <tr>
        <td><%= zip["_id"] %></td>
        <td><%= zip["city"] %></td>
        <td><%= zip["pop"] %></td>
        <td><%= zip["state"] %></td>
        <td><%= link_to 'Show', zip_path(zip["_id"]) %></td>
        <td><%= link_to 'Edit', edit_zip_path(zip["_id"]) %></td>
        <td><%= link_to 'Destroy', zip_path(zip["_id"]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <% if 1 == 2 %>
  ========= >>> Aqui va el paginador
  
  <% end %>
</div>

<%= link_to 'New Zip', new_zip_path %>
